.my-container{
background-image: url(../../assets/1.jpg) ;
     transition: 0.4s;
     position: absolute;
     left: 250px;
     width: 87%;
     height: 100%;
}
.active-cont{
    margin-left: 250px;
}

#menu-btn{
    background-color: blue ;
    color: #fff;
}
menu-btn:focus{
    box-shadow: 0 0 0 0.25rem #7952b344;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.redes-container{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}