<nav class="navbar navbar-expand-lg navbar-light" style="background-color:rgb(90, 94, 93);">
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <button class="nav-link" href="#"(click)="infoPersonal()">acerca de mi <span class="sr-only"></span></button>
        </li>
        <li class="nav-item active">
          <button class="nav-link" href="#"(click)="conocimientos()">conocimientos <span class="sr-only"></span></button>
        </li>
        <li class="nav-item">
          <button class="nav-link" href="#"(click)="Experiencia()">Experiencia <span class="sr-only"></span></button>        </li>
        <li class="nav-item dropdown">
          <button class="nav-link" href="#"(click)="educacion()">Educacion <span class="sr-only"></span></button>        </li>

        <li class="nav-item">
          <button class="nav-link" href="#"(click)="portafolio()">portafolio <span class="sr-only"></span></button>        </li>
      </ul>
      
    </div>
  </nav>