*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body{
  min-height: 100vh;
  background-color: aliceblue;
}
.navbar{
  width: 250px;
  height: 100vh;
  position: fixed;
  //margin-left: -300px ;
  background-color: #7952b3;
  transition: 0.4s;
  
}

.nav-link{
  font-size: 1.25em;;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover{
  background-color: #ffffff26;
}
.active-nav {
  margin-left: 0;
}